/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles Globaux */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Header Styles */
.header {
  /* Utilisez display: grid pour le header */
  display: grid;
  /* Divisez en deux colonnes, une pour le logo et une pour la navigation */
  grid-template-columns: 1fr 1fr;
  background: #333;
  color: #fff;
  padding: 10px 10px;
}
.logo{
  font-weight: bold;
}
button {
  background-color: #333;
  color: white;
  padding: 8px;
}
.nav {
  /* Utilisez display: flex pour la navigation */
  display: flex;
  /* Espacez les liens de manière uniforme */
  justify-content: space-around;
}

.nav a {
  color: #fff;
  text-decoration: none;
  /* Donnez un padding a liens */
  padding: 5px 80px;
}

.nav a:hover {
  background: #555;
}
.hero {
  /* Utilisez display: grid pour centrer le contenu */
  display: grid;
  /* Centre le contenu horizontalement et verticalement */
  place-items: center;
  background: #f4f4f4;
  padding: 15px 0px;
  gap: 5px;
}
.services {
  /* Utilisez display: grid pour les services */
  display: grid;
  /* Créez trois colonnes égales */
  grid-template-columns: repeat(3, 1fr);
  /* Ajoutez un espace entre les colonnes */
  column-gap: 5px;
}
.service {
  margin: 15px;
  background-color: #f4f4f4;
  text-align: center;
  padding: 5px;
}
.testimonials {
  /* Utilisez display: grid pour les témoignages */
  display: grid;
  /* Créez deux colonnes égales */
  grid-template-columns: repeat(2, 1fr);
  /* Ajoutez un espace entre les colonnes */
  column-gap: 2px;
}
.testimonial {
  background-color: #f4f4f4;
  margin: 15px;
  padding: 5px;
}
.contact {
  /* Utilisez display: grid pour centrer le formulaire */
  display: grid;
  /* Centre le contenu horizontalement et verticalement */
  place-items: center;
  background: #f4f4f4;
}

.contact form {
  /* Utilisez display: grid pour le formulaire */
  display: grid;
  /* Ajoutez un espace entre les champs du formulaire */
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}
input,
textarea {
  border: 1px solid #f4f4f4;
  margin: 10px 0px;
  padding: 5px;
}
label {
  font-weight: bold;
}
.footer {
  /* Utilisez display: grid pour le footer */
  display: grid;
  /* Divisez en deux colonnes */
  grid-template-columns: repeat(2, 1fr);
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  grid-template-columns: 1fr 1fr;

}
.footer-links{
  display: flex;
  justify-content: space-around;
}
.footer-links a{
  color: #fff;
  text-decoration: none;
  padding:10px 40px ;
}
